* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0);
}



html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.orglink {
    color: white;
    font-size: 15px;
    border: none;
}

.orghome {
    background: #0081c1;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    position: fixed;
    bottom: 20px;
    right: 30px;
  }
  
  .orghome span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .orghome::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .orghome:hover {
    color: #fff;
  }
  
  .orghome:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

.searchicon {
    width: 50px;
    height: 50px;
}

.nightmode {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nightmode .nighticon{
    font-size: 25px;
    cursor: pointer;
}

.searchandmode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allaboutpf {
    width: 100vw;
}

a {
    color: rgb(0, 136, 255);
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid rgb(0, 153, 255);
    cursor: pointer;
}

button {
    background-color: blue;
}

.navbar {
    display: flex;
    width: 100%;
    background: transparent;
    justify-content: space-between;
    position: fixed;
    padding-bottom: 20px;
}

.searching {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 50px;
    right: 40px;
    border-radius: 19px;
    padding-right: 60px;
}

.inputiconsearch {
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.hivid {
    background: transparent;
    width: 0;
    height: 42px;
    position: absolute;
    border-radius: 17px;
    z-index: 2;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}

.hivid img {
    width: 50px;
    height: 100%;
    border: none;
}

.funnygif {
    width: 16px;
    height: 25px;
    background-color: white;
}

.navbar .hoverbtn {
    margin: auto 12px;
    border-radius: 40%;
    z-index: 200;
}

.navbar  i {
    font-size: 20px;
}

.menuunderline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 213, 255);
}

.profiliobody {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profiliobody .profiliodiv {
    height: 80%;
    width: 30%;
    background: transparent;
    border-radius: 12px;
    margin-top: 5%;
}

.myPhoto {
    color: white;
    background-image: url('https://i.pinimg.com/736x/b5/ad/b5/b5adb55e1c58465b022337fff441d446.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 30%;
    background: transparent;
    margin-top: 5%;
}

.myPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.about {
    font-size: 20px;
    padding: 20px;
}

.about h2, p ,.btncontact {
    margin-top: 42px;
}

.btncontact  a {
    border: none;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.about p{
    font-size: 25px;
    margin: 80px 0;
    padding:50px 0;
}

.about .btncontact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about .btncontact button {
    width: 70%;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 30%;
    background: transparent;
    margin-top: 5%;
}

.socials p{
    font-size: 25px;
    padding:40px 30px;
    margin-bottom: 0;
}

.socials .line {
    width: 3px;
    height: 25%;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.socials i {
    font-size: 25px;
}

.moreaboutpf {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titletextabout {
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    height: 40px;
    padding: 0 20px 20px 20px;
    margin-top: 0;
    width: 80%;
    font-size: 20px;
    margin-bottom: 0;
}


.textabout {
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    margin: 0;
    padding-top: 0;
    padding: 0 20px 20px 20px;
    margin-top: 0;
    width: 80%;
    font-size: 20px;
    margin-bottom: 0;
}

.titilebeauty {
    display: flex;
    width: 90%;
    margin-right: 9.7%;
    margin-bottom: 0;
    padding: 0;
    justify-content: end;
}

.moreaboutpf p .spacetext {
    width: 230px;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 20px 10px;
}

.skilldiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillicons {
    width: 250px;
    height: 170px;
    margin: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillicons img {   
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.skilljs {
    width: 100%;
    height: 100%;
}

.skillhtml {
    width: 500px;
    height: 300px;
}

.skillcss {
    width: 100%;
    height: 100%;
    background-color: black;
    filter: blur();
}

.skilljs {
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/887/817/276/html-5-html-5-logo-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
}

.did {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
}

.didBlogs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mydids {
    height: 100%;
    width: 30%;
    border: 1px solid blue;
    border-radius: 12px;
    margin: 12px;
}

.didlinks {
    color: rgb(0, 72, 255);
    text-decoration: none;
    border: none;
    font-size: 20px;
    display: flex;

    justify-content: center;
    width: 100%;
    height: 100%;
}

.did button {
    width: 200px;
    height: 60px;
    margin-bottom: 0;
    font-size: 23px;
}

.contactme {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
}

.contactmebtn {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.contactmebtn:hover {
    letter-spacing: 2px;
    background-color: rgb(24, 191, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 191, 220) 0px 7px 29px 0px;
  }
  
.contactmebtn:active {
    letter-spacing: 2px;
    background-color: hsl(24, 191, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 191, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

.locationAndEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 50%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location h2 {
    margin: 0;
    padding: 0;

}

.locationAndEmail .email {
    width: 90%;
    height: 70%;
    margin: 12px;
    border-radius: 12px;
}

.location p {
    padding: 30px;
    margin-top: 10px;
    border-radius: 9px;
    border-top-left-radius: 0;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.email h5 {
    width: 60%;
    color: rgb(0, 251, 255);
}

.email input , textarea{
    width: 60%;
    border-radius: 5px;
    background: transparent;
}

.email input , textarea  :active {
}

.email textarea {
    margin: 5px;
    height: 100px;
    padding-left: 9px;
}

.photo {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.socialicons {
    border: none;
    margin: 0;
    padding: 0;
}

.sendbtn {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.sendbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .sendbtn:hover {
    color: #fff;
    background: #3a0ca3;
    transition: all 0s;
  }
  
  .sendbtn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .sendbtn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .sendbtn:active:before {
    background: #3a0ca3;
    transition: all 0s;
  }

.tooltip-container {
    --background: #333333;
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 15px;
    font-weight: 600;
    color: var(--color);
    padding: 0.7em 1.8em;
    border-radius: 8px;
    text-transform: uppercase;
    height: 30px;
    width: 70px;
    display: grid;
    place-items: center;
    border: 2px solid var(--color);
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .tooltip-container span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--background);
    z-index: -1;
    border: 2px solid var(--background);
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
  }
  
  .tooltip-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: white;
    border-color: transparent;
  }
  
  .tooltip-container:hover span:last-child {
    transform: scale(1);
    left: 0;
  }
  
  .tooltip-container:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% {
      rotate: 0;
    }
  
    25% {
      rotate: 7deg;
    }
  
    50% {
      rotate: -7deg;
    }
  
    75% {
      rotate: 1deg;
    }
  
    100% {
      rotate: 0;
    }
  }

.pinterest {
    background-image: url('https://static-00.iconduck.com/assets.00/pinterest-icon-1024x1024-mcmp5zdy.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.numbers {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKWonXvowP6ny_GxjOX4Oi0WX1uDoGGmLtSw&s');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.zeagwat {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGGxGCuS8MvuICeseCuxM_-aRMhpx_B1ozHw&s');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profilefast {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTMqcCXSPd1GayrYoUaN2o4vaBaiZCOa7v7Q&s');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
